.gothic-a1-regular {
    font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gothic-a1-medium {
    font-family: "Gothic A1", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .gothic-a1-semibold {
    font-family: "Gothic A1", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .gothic-a1-bold {
    font-family: "Gothic A1", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

body {
    margin: 0;
    background-color: black;
}



#purple-div {
    background-color: rgb(64, 40, 160);
    transform: rotate(90deg) translateX(35%) translateY(-35vh);
    position: absolute;
    right: 0;
    z-index: 5;
    overflow: hidden;
}

#black-line {
    background-color: black;
    position: absolute;
    right: 0;
    height: 1.5vh;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    margin: 0;
    padding: 1vh 2vh 0.25vh 2.5vh;
}


.sidebar-text p {
    margin-top: 1vh;
    margin-bottom: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.75vh;
    font-weight: bold;
    padding-left: 5vh;
}

#red-line {
    height: .5vh;
    background-color: rgb(222, 31, 36);
    width: 100vh;
    margin-top: 1vh;
    margin-bottom: 0vh;
}

#orange-line {
    height: .35vh;
    background-color: rgb(230, 107, 33);
    width: 100vw;
}

#socials-bar {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#button-div {
    padding: 1vh;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}

button {
    border: 3px white solid;
    border-radius: 8px;
    background-color: black;
    height: 6vh;
    width: 6vh; 
    margin-left: 1vw;
    margin-right: 1vw;
    min-width: 40px;
    min-height: 40px;
    transition: border .25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    border: rgb(230, 107, 33) 3px solid;
    cursor: pointer;
}

button:hover > svg {
    fill: rgb(230, 107, 33)
}

#disclaimer-text {
    color: white;
    font-family: 'Gothic A1', Arial, Helvetica, sans-serif;
    margin-top: 0.5vh;
    font-size: 1.5vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

svg {
    height: 2.75vh;
    width: 2.75vh;
    fill: white;
    transition: fill .25s;
}

svg:hover {
    fill: rgb(230, 107, 33);
    cursor: pointer;
  }

#main {
    /*background-color: white;*/
    height: 88.5vh;
    
    position: relative;
}

#restrict {
    position: absolute;
    height: 100%;
    
}

h1 {
    color: rgb(230, 107, 33);
    font-family: 'Gothic A1', Arial, Helvetica, sans-serif;
    font-size: 10.5vh;
    margin-top: 4vh;
    margin-left: .1vw;
    margin-bottom: -1vh;
}

h4 {
    color: white;
    font-family: 'Gothic A1', Arial, Helvetica, sans-serif;
    font-size: 4vh;
    margin-top: 0;
    margin-bottom: 7.5vh;
}

h5 {
    color: rgb(230, 107, 33);
    font-family: 'Gothic A1', Arial, Helvetica, sans-serif;
    font-size: 4.25vh;
    margin: 0;
    font-weight: 600;
    margin-bottom: 1vh;
}

h6 {
    color: white;
    font-family: 'Gothic A1', Arial, Helvetica, sans-serif;
    font-size: 3.25vh;
    margin: 0;
    font-weight: 600;
    margin-bottom: 1vh;
}

.indented {
    margin-left: 3vw;
}

a {
    text-decoration: none;
}

@media(min-width: 600px) {

    body {
        overflow: hidden;
    }
    #purple-div {
        height: 30vh;
        width: 100vh;
        
    }

    h2 {
        font-size: 10vh;
    }

    #socials-bar {
        position: absolute;
        bottom: 0; 
    }

    #restrict {
        width: 60%;
        left: 15.5vw;
        padding: 2.5vh;
    }

    #main {
        width: calc(100vw - 30vh);
    }
    #mobile {
        display: none;
    }
    #black-line {
        width: 65%;
    }

    #disappear {
        padding-top: 1vh;
    }
}

@media(max-width: 599px) {

    html {
        overflow-x: hidden;
    }

    h1, h3, h4, h5, h6 {
        text-shadow: 2px 2px 0px black;
    }

    #socials-bar {
        background-color: black;
        position: fixed;
        bottom: 0;
    }

    #purple-div {
        position: fixed;
        right: -23vw;
        top: 5vh;
        z-index: 0;
    }

    #purple-div h2 {
        font-size: 6.5vh;
        color:rgb(64, 40, 160);
    }

    #disappear {
        padding-top: 0;
    }

    .sidebar-text p{
        font-size: 0px;
    }

    #mobile-spacer {
        height: 18vh;
    }

    #main {
        width: 100vw;
    }

    #restrict {
        width: 70vw;
        left: 8vw;
        padding-left: 0;
    }

    #black-line {
        width: 100%
    }
}